<template>
    <section class="buttonlegal">
        <div class="html">
            <div class="section">
                <h1>Terms and Conditions</h1>
                <div class="para">
                    <table>
                        <tr>
                            <td style="width:8em">Last Updated:</td>
                            <td><b>July 20, 2023</b></td>
                        </tr>
                        <tr>
                            <td>This site:</td>
                            <td><b>{{ host }}</b></td>
                        </tr>
                    </table>
                </div>
                <div class="para" style="margin-top:0.5em"><i>
                    This site is not intended to be commercial in nature and as such does not attempt to enter into 
                    the type of small print one often finds on corporate websites. These are just basic statements 
                    and are subject to change in the event somebody spots something that’s either missing or incorrect.
                </i></div>

                <h2>Copyright</h2>
                <div class="para">
                    <p>The design and layout of this website are a combination of local content and free Internet content.
                    Every effort is been made to retain attributions to original authors where possible, if you spot any 
                    issues in this area please email us using the address listed below.</p>
                </div>

                <h2>Accuracy</h2>
                <div class="para">
                    Although we make effort to ensure the accuracy of information contained on this site, we accept no liability 
                    or responsibility for any reliance placed thereon by those reading the site.
                </div>

                <h2>Attribution</h2>
                <div class="para">
                    <p>Whilst we have no objection to you making use of information stored on this site, if you are using information 
                    attributed to a third party you should either seek their permission or follow any process linked to their 
                    documentation with regards to obtaining permission prior to use.</p>
                    <p>If you use a reference to this site, a screen shot or any other component not attributed to a third party, 
                    we would very much appreciate a mention although impose no limitation on such usage. </p>
                    <p>Where links to third party sites are included on the site, these are provided solely for ease of reference and 
                    do not in any way mean that we necessarily endorse the products or services of that company unless explicitly stated.</p>
                    <p>Some references to Third Party companies appear below, if you can see any specific inaccuracies or you are missing 
                        from the list, please email us at the address listed below.</p>
                </div>

                <h2>Publishing Accuracy</h2>
                <div class="para">
                    We will correct any inaccurate or incorrect publication as soon as practicable upon becoming aware of the error. Please be 
                    aware that this is NOT a commercial operation so any such changes rely on the availability of a volunteer.
                </div>

                <h2>Trademarks</h2>
                <div class="para">
                    <p>All trademarks appearing on this site are trademarks or registered trademarks of their respective companies</p>
                </div>
            </div>
            <br/>
            <div class="section">

                <h1>Privacy Policy / Data Colledtion</h1>
                <div class="para">
                    This site's primary function is to provide a public service, not to collect 
                    data or to publish adverts.
                </div>
                <h2>Personal Data</h2>
                <div class="para">We do not aim to collect or store any personal data.</div>
                <h2>Usage Data</h2>
                <div class="para">
                    Usage Data is collected automatically when using the Service. This can include 
                    details if your IP address, browser type, version etc. Various site artefacts 
                    may be loaded from other CDN and caching services which will also track usage.
                </div>
                <h2>Tracking Technologies and Cookies</h2>
                <div class="para">
                    Cookies are used by the site to facilitate functionality, we do not aim to track 
                    users other than to generate anonymous usage statistics.
                </div>
                <h2>Changes to this Privacy Policy</h2>
                <div class="para">
                    We may update Our Privacy Policy from time to time and it will be posted on this page.
                </div>
                <h2>Contact Us</h2>
                <div class="para">
                    If you have any questions about this Privacy Policy, You can contact us <b>{{ mail }}</b>
                </div>
            </div>
            <br/>
            <div class="section modules">
                <h1>Modules</h1>
                <table border=1>
                    <tr>
                        <th>Index</th>
                        <th>Module Name</th>
                        <th>Current Version</th>
                        <th>Latest Version</th>
                        <th>Up-to-date</th>
                    </tr>
                    <tr v-for="([key, val], idx) in components">
                        <td>{{ idx }}</td>
                        <td>{{ key }}</td>
                        <td>{{ val.version }}</td>
                        <td>{{ val.latest }}</td>
                        <td :class="uptodate (val)">
                            {{ uptodate (val) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</template>

<script setup>
import { defineComponent, ref, inject, reactive, watch, computed } from 'vue'
import { defineStore } from 'pinia';
import { OrbitComponentMixin } from '@/../node_modules/orbit-component-base';
import pkg from '../package.json';

const connection        = inject('$connection')
const authenticated     = computed(() => connection.authenticated)
const componentsStore   = reactive({})
const components        = computed(() => componentsStore.components)
const mail              = computed(() => app.metadata ? app.metadata.bugs.email : 'NONE')
const host              = computed(() => location.hostname )

const uptodate = (val) => {
    return val.version == val.latest ? 'true' : 'false'
}

watch (authenticated, (n, o) => {
    if (n && !o) {
        Object.assign(componentsStore, defineStore('componentsStore')())
    }
}, {immediate: true})

</script>

<script>
const namespace = 'buttonlegal'
const mixin = OrbitComponentMixin(namespace, defineStore)
const opt = ref(null)
const app = ref(null)

export default defineComponent({
    name: namespace,
    install (vue, options) {
        mixin.install (vue, options, this, app, opt)
    },
    bootstrap () {
        return mixin.bootstrap (pkg.version)
    },
})
</script>

<style scoped>
.para {
    font-size: 1.15em;
    max-width: 60em;
    margin-bottom: 0.5em;
    text-align: justify;
}
.last-updated {
    font-weight: 500;
    font-size: 1.15em;
}

div .section {
    background-color: rgb(224, 242, 250);
    padding: 2em;
    padding-top: 1em;
    border-radius: 10px;
    margin-top: 8px;
    max-width: 80em;
    border: 1px solid rgb(129, 214, 254);
}

div.section H1 {
    font-size: 2em;
    font-weight: 600;
    color: #444;
}
div.section H2 {
    color: #444;
    font-size: 1.5em;
    font-weight: 500;
}
div.section B {
    color: teal;
    font-weight: 600;
}

div .buttonlegal {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
}
div .buttonlegal div.html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1em;
    margin-top: 0.5em;
    overflow-y: auto;
    padding-bottom: 2em;
}
div.section.modules th {
    background-color: teal;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}
div.section.modules td {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
}

div.section.modules td.true {
    color: green;
    font-weight: 500;
}
div.section.modules td.false {
    color: red;
}

</style>